header.header
    nav.navigation.flex
        figure.logo.flex
            img.logo-picture(src="images/logo.png" alt="logo picture")
        ul.navigation-list.flex
            li.navigation-item.active
                a.navigation-link HOME
            each item in ['ABOUT US', 'PORTFOLIO', 'PRICING', 'TEAM', 'BLOG', 'CONTACT']
                li.navigation-item
                    a.navigation-link=item
    section.welcome-section.flex
        div.welcome-slider-button-wrapper.flex
            button(type="button").welcome-slider-btn.left-arrow-btn
                svg(height="20px"
                    x="0px" 
                    y="0px"
                    viewBox="0 0 425.175 480.175" 
                    xml:space="preserve")
                    g
                        path(d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z")
        section.welcome-info-section.flex
            h4.tagline-heading.
                Our Clients Are Our First Priority
            h1.welcome-heading.
                WELCOME TO BINO
            span.separator
            p.welcome-description.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum esse delectus, placeat, aut obcaecati doloribus, quo quia assumenda officiis praesentium molestiae. Ab vel quis ducimus, aliquid. Quibusdam, optio quod ratione.
        div.welcome-slider-button-wrapper.flex
            button(type="button").welcome-slider-btn.right-arrow-btn
                svg(height="20px"
                    x="0px" 
                    y="0px"
                    viewBox="0 0 425.175 480.175" 
                    xml:space="preserve")
                    g
                        path(d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z")
    section.welcome-continue-buttons-wrapper
        button(type="button").welcome-continue-btn GET STARTED NOW
        button(type="button").welcome-continue-btn LEARN MORE
    div.anchor-wrapper.flex
        a.anchor-link
            img(src="images/anchor-icon.png" alt="anchor icon")